$lineHeight:15px;
$lineHeight:21px;
$black:rgba(0, 0, 0, 0.7);
$backgroundOpacity:rgba(0, 0, 0, 0.5);
$borderColor:#F7567E;
$sizefontP:11px;
$groundBtn:#F7567E;
$radiusBtn:20px;
$groundInput: #F2CFF1;
$transparentGround:#f2cff193;
$bigGround:linear-gradient(319.9deg, #B39DE7 17.1%, #FCE9FF 75.86%);
$gray:#979595;
// for devices 
$phone:768px;
$ipad:992px;
// flex
@mixin flexes($justify, $align, $dir) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    @if $dir==column {
        flex-direction: column;
    }
}

//translate to make anything in center position
%translateCenter {
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

// for images 
@mixin coverImg($url) {
    background-image: url($url);
    background-size: cover;
    background-repeat: no-repeat;
}

// position 
@mixin position($position, $top, $right, $bottom, $left) {
    position: $position;
    top: $top;
    left: $left;
    bottom: $bottom;
    right: $right;
}

@mixin widthHeight($height, $width) {
    height: $height;
    width: $width;
}

// font weight
@function weight($every) {
    @if ($every==small) {
        @return 200
    }
    ;
    @if ($every==regular) {
        @return 500
    }
    ;
    @if($every==regular_) {
        @return 600
    }
    ;
    @if ($every==bold) {
        @return 900
    }
}